
.postRow {
    padding: 8px;
    padding-bottom: 0px;
   /* scroll-snap-align: start;*/
}

.postContainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: top;
    background-color: #eee;
    border-radius: 6px;
}

.postContainer .cmdIcon {
    display: none;
}

.postContainer:hover .cmdIcon {
    display: block;
}

.postLayout {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 8px;
    align-items: center;
}

.post {
    display: grid;
    grid-template-columns: 30px auto;
}

.postTitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.postCategory {
    color: dodgerblue !important;
}

.postCommandPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.postdeleteForm {
    margin: 20px;
}
