
.postRow {
    padding: 8px;
    padding-bottom: 0px;
   /* scroll-snap-align: start;*/
}

.postContainer {
    align-items: top;
    background-color: #eee;
    border-radius: 6px;
}
/*
.postContainer .cmdIcon {
    display: none;
}

.postContainer:hover .cmdIcon {
    display: block;
}
*/
.postLayout {
    padding: 10px;
    gap: 8px;
    align-items: center;
}

.post {
    display : flex;
    flex-direction: column;

}

.postTitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.postCategory {
    color: dodgerblue !important;
}

.imagePreview {
  width: 100%;
  height: 200px; /* or whatever height you want */
  border-radius: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postCommandPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightItems {
    display: flex;
    gap: 8px;
}

.postdeleteForm {
    margin: 20px;
}
.hideExtra {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.showExtra {
height: auto;
white-space: normal;
}
.Text {
  width: 100%;
  height: 200px; /* adjust as needed */
  overflow: auto; /* vertical scrollbar appears if content exceeds height */
  resize: vertical; /* optional: allow user to resize vertically */
}
.imageUploader {
 height:auto; 
 max-height:400px; 
 width: auto; 
 max-width:550px; 
 border-radius:4px;
}
